@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Bree-Serif|Gloria+Hallelujah|Roboto|Satisfy');
body {
  text-align: center;
  background-color: #ffd521;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Gloria Hallelujah', sans-serif;
  font-size: 40px;
  font-style: oblique;
  color: black;
}

h2{
  font-family: 'Roboto', sans-serif;
  font-style: oblique;
  font-size: 25px;
  color: black;
}
.name-input {
  height: 35px;
  font-style: italic;
  width: 200px;
  border: 1px solid #de4221;
  margin-bottom: 10px;
  padding-left: 5px
}
.game-button {
  width: 200px;
  height: 35px;
  background-color: #de4221;
  color: #ffffff;
  box-shadow: 2px 2px #5a5a5a;
  border: none;
}
.game-button:hover {
  box-shadow: 0px 0px;
  color: #ffffff;
  box-shadow: -2px -2px #5a5a5a;
}
#name_alert {
  background-color: #ffd521;
  border: none;
  color: #de4221;
  font-size: large 
}
/* .container {
  height: 100%
} */
h2#finalScore {
  color: white;
  font-size: 100px;
  margin: 50px 0px;
  letter-spacing: 7px;
  -webkit-text-stroke: 1px black;
}

input#user {
  padding: 5px 15px;
}
.page-title{
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.indication{
  margin-top: 1rem
}
.alert-col {
  text-align: center
}
#name_alert {
  text-align: center;
  margin-top: 3px;
}
.index-img{
  width: 30%;
  margin-top: 1rem;
}
#img-welcome {
  width: 60%
}
.question-form {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media (max-width: 600px) {
  .index-img {
    width: 70%
  }
  #img-welcome {
    width: 90%
  }
  .game-button {
    margin-bottom: 10px
  }
  h4 {
    margin-top: 4rem
  }
  #name_alert {
    text-align: center;
    margin-top: -3px !important;
    padding-top: 2px !important;
  }
}